// app global css in SCSS form

.skeletonBG {
  background: rgb(183,113,226);
  background: linear-gradient(133deg, rgba(183,113,226,1) 8%, rgba(255,255,255,1) 100%);
}

.skeletonBG2 {
  background: rgb(183,113,226);
  background: linear-gradient(266deg, rgba(183,113,226,1) 8%, rgba(255,255,255,1) 100%);
}

.p1 {
  background: linear-gradient(to bottom, #f00, #00f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
